# flask.cfg

import os

# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LEVEL_DIR = os.path.abspath(os.curdir)
 
# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = '8\xae\xbf\xbf\x18\x84\xa4\xb6|\xb6_\x0f\xd8\xce\x9c\x10\xf0\xdc\x03o\x95\x16\xbf\x1c'
DEBUG = True